# **POC-TCC**

In [ ]:
#Import dos módulos
import pandas as pd
import yfinance as yf
import numpy as np

In [ ]:
#Retrieve/engineering no dataset do S&P
esp = yf.Ticker("^GSPC")
espDf = esp.history(period = "max")
espDf = espDf.sort_values("Date", ascending = True)
espDf.reset_index(inplace = True)
espDf = espDf[~(espDf['Date'] < '2003-12-01')]
espDf['Date'] = espDf['Date'].values.astype('<M8[D]')
espDf['timestamp'] = pd.to_datetime(espDf.Date).dt.tz_localize(None)
espDf.drop(['Dividends', 'Stock Splits', 'timestamp'], axis = 1, inplace = True)
espDf

,Date,Open,High,Low,Close,Volume
19060,2003-12-01,1058.199951,1070.469971,1058.199951,1070.119995,1375000000
19061,2003-12-02,1070.119995,1071.219971,1065.219971,1066.619995,1383200000
19062,2003-12-03,1066.619995,1074.300049,1064.630005,1064.729980,1441700000
19063,2003-12-04,1064.729980,1070.369995,1063.150024,1069.719971,1463100000
19064,2003-12-05,1069.719971,1069.719971,1060.089966,1061.500000,1265900000
...,...,...,...,...,...,...
24025,2023-08-23,4396.439941,4443.180176,4396.439941,4436.009766,3837270000
24026,2023-08-24,4455.160156,4458.299805,4375.549805,4376.310059,3723470000
24027,2023-08-25,4389.379883,4418.459961,4356.290039,4405.709961,3296180000
24028,2023-08-28,4426.029785,4439.560059,4414.979980,4433.310059,2957230000
24029,2023-08-29,4432.750000,4500.140137,4431.680176,4497.629883,3354820000

In [ ]:
#Retrieve/engineering no dataset do dolar
dol = yf.Ticker("USDBRL=X")
dolDf = dol.history(period = "max")
dolDf = dolDf.sort_values("Date", ascending = True)
dolDf.reset_index(inplace = True)
espDf['Date'] = espDf['Date'].values.astype('<M8[D]')
dolDf = dolDf[~(dolDf['Date'] < '2003-12-01')]
dolDf['Date'] = pd.to_datetime(dolDf.Date).dt.tz_localize(None)
dolDf.drop(['Dividends', 'Stock Splits','Volume', 'Open', 'High', 'Low'], axis = 1, inplace = True)
dolDf

           Date   Close
0    2003-12-01  2.9230
1    2003-12-02  2.9310
2    2003-12-03  2.9310
3    2003-12-04  2.9430
4    2003-12-05  2.9340
...         ...     ...
4701 2023-08-24  4.8551
4702 2023-08-25  4.8803
4703 2023-08-28  4.8704
4704 2023-08-29  4.8726
4705 2023-08-30  4.8667

[4706 rows x 2 columns]

In [ ]:
#dataframe merge
espDf = espDf.merge(dolDf, on = 'Date', how = 'inner')

In [ ]:
espDf['rolling_close'] = espDf['Close_x'].rolling(3).mean()
espDf

,Date,Open,High,Low,Close_x,Volume,Close_y,rolling_close
0,2003-12-01,1058.199951,1070.469971,1058.199951,1070.119995,1375000000,2.9230,NaN
1,2003-12-02,1070.119995,1071.219971,1065.219971,1066.619995,1383200000,2.9310,NaN
2,2003-12-03,1066.619995,1074.300049,1064.630005,1064.729980,1441700000,2.9310,1067.156657
3,2003-12-04,1064.729980,1070.369995,1063.150024,1069.719971,1463100000,2.9430,1067.023315
4,2003-12-05,1069.719971,1069.719971,1060.089966,1061.500000,1265900000,2.9340,1065.316650
...,...,...,...,...,...,...,...,...
4535,2023-08-23,4396.439941,4443.180176,4396.439941,4436.009766,3837270000,4.9371,4407.776530
4536,2023-08-24,4455.160156,4458.299805,4375.549805,4376.310059,3723470000,4.8551,4399.956543
4537,2023-08-25,4389.379883,4418.459961,4356.290039,4405.709961,3296180000,4.8803,4406.009928
4538,2023-08-28,4426.029785,4439.560059,4414.979980,4433.310059,2957230000,4.8704,4405.110026
4539,2023-08-29,4432.750000,4500.140137,4431.680176,4497.629883,3354820000,4.8726,4445.549967